@model string?
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/Authentication/Authentication.css" />

<div class="container-auth">
    <h2>Registration</h2>
    <form class="auth-form" action="/submit_registration" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" required>
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="FirstName" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="LastName" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="Email" required>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="Address" required>
        </div>
        @if (Model != null)
        {
            <div class="error">@Model</div>
        }
        <div class="form-button">
            <input type="submit" value="Register">
        </div>
    </form>
</div>
