@{
    ViewData["Title"] = "Bitcoin tracker";
}

<link rel="stylesheet" href="~/css/Tracker's/stockManager.css" />

<div class="crypto-container">
    <h1 id="stock-price">---</h1>
    <h2>Binance BTCUSDT Chart</h2>
    <div class="stock-exchange" id="tvchart" style="width: 50px;"></div>
</div>

<script src="/js/price.js"></script>
<script src="/js/price.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script src="~/js/btcchart.js"></script>
