@{
    ViewData["Title"] = "Bitcoin tracker";
}

<link rel="stylesheet" href="~/css/Tracker's/stockManager.css" />

<div class="crypto-container">
    <div class="tracker-info">
        <h2>Binance<br /> BTCUSDT <br /> Chart</h2>
        <h1 id="stock-price">---</h1>
    </div>
    <div class="stock-exchange" id="tvchart"></div>
</div>

<script src="/js/price.js"></script>
<script src="/js/price.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script src="~/js/btcchart.js"></script>
