@{
    ViewData["Title"] = "Etherium tracker";
}

<link rel="stylesheet" href="~/css/Tracker's/stockManager.css" />
    
<div class="crypto-container">
    <h2>Ethereum ETHUSDT Chart</h2>
    <div class="stock-exchange" id="tvchart"></div>
</div>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script src="~/js/ethchart.js"></script>
