@if (Model)
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Profile">Profile</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login">Log-In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Registration">Register</a>
    </li>
}